body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #3849a1;
}

.card {
  background: whitesmoke;
  padding: 2rem 3rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
}

#valor {
  font-size: 3rem;
  margin: 1rem 0;
}

.botones button {
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  margin: 0 0.5rem;
  cursor: pointer;
}
